<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="version" value="1.0"/>
        <add key="title" value="Sky Engine"/>
        <add key="width" value="640"/>
        <add key="height" value="360"/>
        <add key="updateFrequency" value="60"/>
    </appSettings>
</configuration>